layout {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }
    pane command="zellij_open" {
        args "--wait-on-exit" "./.zellij/build_run"
        close_on_exit true
    }
}
