layout {
    tab name="Exec menu" {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane command="zellij-exec" {
            close_on_exit true
        }
    }
}
