layout {
    tab name="New Project" {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane command="./.config/zellij/scripts/new-project" {
            cwd ""
            close_on_exit true
        }
    }
}
