[submodule "nvim/plugins/ale"]
	path = nvim/pack/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "nvim/plugins/vim-surround"]
	path = nvim/pack/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "nvim/plugins/vim-colors-solarized"]
	path = nvim/pack/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "nvim/plugins/nerdcommenter"]
	path = nvim/pack/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "nvim/plugins/vim-gitgutter"]
	path = nvim/pack/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "nvim/plugins/vim-python-pep8-indent"]
	path = nvim/pack/vim-python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "nvim/plugins/vim-repeat"]
	path = nvim/pack/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "nvim/pack/vim-fugitive"]
	path = nvim/pack/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
