[submodule "nvim/plugins/vim-python-pep8-indent"]
	path = tools/nvim/pack/start/python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "neovim/pack/lspconfig"]
	path = tools/nvim/pack/start/lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "neovim/pack/lint"]
	path = tools/nvim/pack/start/lint
	url = git@github.com:mfussenegger/nvim-lint.git
[submodule "gitsigns"]
	path = tools/nvim/pack/start/gitsigns
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "neovim/pack/plenary"]
	path = tools/nvim/pack/start/plenary
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "neovim/pack/robotframework"]
	path = tools/nvim/pack/opt/robotframework
	url = git@github.com:rasjani/robotframework-vim.git
[submodule "neovim/pack/fish"]
	path = tools/nvim/pack/start/fish
	url = git@github.com:nickeb96/fish.vim.git
[submodule "neovim/pack/jsx-pretty"]
	path = tools/nvim/pack/start/jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "neovim/pack/vue"]
	path = tools/nvim/pack/start/vue
	url = git@github.com:leafOfTree/vim-vue-plugin.git
