[Unit]
Description=set random wallpaper

[Service]
Type=oneshot
Environment=WALLPAPERS_PATH={WALLPAPERS_PATH}
ExecStart=/usr/local/bin/wallpaper --random

[Install]
WantedBy=multi-user.target
