* {
    font-family: "FontAwesome", "Noto Sans CJK JP";
    font-size: 15px;
}

tooltip label {
    font-size: 16px;
}

window#waybar {
    background: alpha(@theme_base_color, 0.9);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: @theme_text_color;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-left #workspaces {
    margin: 0 4px;
}

.modules-left #workspaces button {
    padding: 3px 8px;
    background-color: transparent;
    color: @theme_text_color;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

.modules-left #workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @theme_text_color;
}

.modules-left #workspaces button.focused {
    background-color: #5294e2;
    box-shadow: inset 0 -3px #3274c2;
}

.modules-left #workspaces button.urgent {
    background-color: #eb4d4b;
    box-shadow: inset 0 -3px #b3403f;
}

.modules-left #mode {
    background-color: #5294e2;
    box-shadow: inset 0 -3px #3274c2;
    padding: 0 12px;
}

.modules-left #mpris {
    padding: 7px 12px 5px;
}

.modules-center #clock {
    padding-right: 24px;
}

.modules-right #pulseaudio,
.modules-right #memory,
.modules-right #cpu,
.modules-right #temperature {
    padding-right: 24px;
}

.modules-right #language,
.modules-right #tray {
    padding-right: 12px;
}

.modules-right #language {
    padding-top: 2px;
}
