[Desktop Entry]
Type=Application
Name=Anki
Comment=Helps you remember facts (like words/phrases in a foreign language) efficiently
Categories=Education
Exec=env QTWEBENGINE_CHROMIUM_FLAGS=--no-sandbox anki -p Mateus
Terminal=false
