keybinds clear-defaults=true {
    locked {
        bind "F1" { SwitchToMode "Normal"; }
    }
    normal {
        // Searching
        bind "/" "?" { SwitchToMode "EnterSearch"; }

        // Tab
        bind "r" { SwitchToMode "RenameTab"; }
        bind "Left" { MoveFocusOrTab "Left"; }
        bind "Right" { MoveFocusOrTab "Right"; }
        bind "Alt Left" { MoveTab "Left"; }
        bind "Alt Right" { MoveTab "Right"; }

        // Panel
        bind "Alt F4" { CloseFocus; }

        // Utilities
        bind "Space" {
            NewTab {
                layout "menu"
            }
            SwitchToMode "Locked";
        }
        bind "Enter" {
            NewTab {
                name "Fish"
                layout "compact"
            }
            SwitchToMode "Locked";
        }
        bind "f" {
            Run "zellij-nnn" {
                direction "Down"
            }
            SwitchToMode "Locked";
        }
        bind "F" {
            NewTab {
                layout "nnn"
            }
            SwitchToMode "Locked";
        }
        bind "m" {
            NewTab {
                layout "neomutt"
            }
            SwitchToMode "Locked";
        }
        bind "n" {
            NewTab {
                cwd ""
                layout "nnn"
            }
            SwitchToMode "Locked";
        }
        bind "o" {
            NewTab {
                layout "project"
            }
            SwitchToMode "Locked";
        }
        bind "t" {
            NewTab {
                cwd ""
                name "Fish"
                layout "compact"
            }
            SwitchToMode "Locked";
        }

        // IDE
        bind "F9" {
            NewTab {
                layout "exec"
            }
            SwitchToMode "Locked";
        }

        // Disable remaining characters to avoid typing while in normal mode
        bind "a" "b" "c" "d" "e" "g" "h" "i" "j" "k" "l" "p" "q" "s" "u" "v" "x" "y" "z" {
            SwitchToMode "Normal";
        }
    }
    search {
        bind "Esc" "q" { SwitchToMode "Normal"; }
        bind "/" "?" { SwitchToMode "EnterSearch"; }
        bind "N" { Search "up"; }
        bind "n" { Search "down"; }
    }
    shared_among "normal" "search" {
        bind "Up" { ScrollUp; }
        bind "Down" { ScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "PageDown" { PageScrollDown; }
        bind "Home" { ScrollToTop; }
        bind "End" { ScrollToBottom; }
    }
    entersearch {
        bind "Enter" "Esc" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" {
            UndoRenameTab;
            SwitchToMode "Normal";
        }
    }
    shared_except "locked" {
        bind "F1" { SwitchToMode "Locked"; }
    }
}

plugins {
    compact-bar location="zellij:compact-bar"
}

on_force_close "quit"
simplified_ui true
pane_frames false
theme "tokyo-night"
default_layout "compact"
default_mode "locked"
ui {
    pane_frames {
        hide_session_name true
    }
}
session_serialization false
pane_viewport_serialization false
disable_session_metadata true
