keybinds clear-defaults=true {
    locked {
        bind "F1" { SwitchToMode "normal"; }
    }
    renametab {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" "F3" {
            UndoRenameTab;
            SwitchToMode "Normal";
        }
    }
    shared_except "locked" {
        bind "F1" { SwitchToMode "locked"; }
        bind "F3" { SwitchToMode "renametab"; }
        bind "F4" {
            NewTab {
                name "Fish"
                layout "compact"
            }
        }
        bind "Alt F4" { CloseTab; }

        bind "F5" {
            Run "zellij_open" "--file-picker" {
                direction "Right"
            }
        }
        bind "F8" {
            NewTab {
                name "Open Project"
                layout "project"
            }
        }

        bind "F9" {
            NewTab {
                name "Build & Run"
                layout "build_run"
            }
        }
        bind "Ctrl F9" {
            NewTab {
                name "Build"
                layout "build"
            }
        }
        bind "Ctrl F10" {
            NewTab {
                name "Run"
                layout "run"
            }
        }

        bind "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt Up" { MoveFocus "Up"; }
        bind "Alt Down" { MoveFocus "Down"; }

        bind "Ctrl z" { SwitchToMode "normal"; }
    }
}

plugins {
    compact-bar location="zellij:compact-bar"
}

on_force_close "quit"
simplified_ui true
pane_frames false
theme "tokyo-night"
default_layout "compact"
ui {
    pane_frames {
        hide_session_name true
    }
}
session_serialization false
pane_viewport_serialization false
disable_session_metadata true
