[Unit]
Description=random wallpaper using nitrogen

[Service]
Type=oneshot
User=mateus
Environment=DISPLAY=:0
ExecStart=/usr/bin/nitrogen --set-zoom-fill --random --save /home/mateus/Pictures/Wallpapers/Active
