[Desktop Entry]
Type=Application
Name=Record Settings
Comment=Settings for the record application
Categories=Settings
Icon=archlinux-logo
Exec=record-settings
