[Desktop Entry]
Type=Application
Name=Feh
Comment=Image viewer and cataloguer
Categories=Graphics
Exec=feh --scale-down
NoDisplay=true
Terminal=false
